*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
        font-family: "Poppins", serif;
        font-weight: 200;
        font-style: normal;
        background-image: url('https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&w=600'); 
        background-size: cover; 
        background-position: center;
        background-attachment: fixed; 
    }

#logo{
        font-family: "Poppins", serif;
        font-weight: 700;
        font-style: italic;
        color: #3b3eec;
    }

